

*{box-sizing: border-box; margin: 0;}
html{width: 100%;}

body{
    background: rgb(148,89,115);
background: linear-gradient(0deg, rgba(148,89,115,1) 0%, rgba(46,76,112,1) 100%);
background-size: cover;
background-repeat: no-repeat;
height: 100%;
   color: #fff;
   font-size: 16px;
   font-family:'ariel', sans-serif;
   width: 100%;
   text-transform: capitalize;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   overflow-x: hidden;
}
h1,h2,h3{text-transform: uppercase;}
h1,h2{color: #fff; padding: 5% 0;}
h1{padding: 5%;}
.add-to-menu{
    border-radius: 20px;
    min-width: 300px;
    background-color: rgb(255, 255, 255, 0.2);
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    -webkit-box-shadow: 0px 10px 25px -6px rgba(0,0,0,0.5); 
box-shadow: 0px 10px 25px -6px rgba(0,0,0,0.5);
}

#add-pizza-form{
    padding: 5%;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
#add-pizza-form div{
    display: flex;
    justify-content: space-between;
}
#add-pizza-btn{width: 100%; text-transform: uppercase;}

img{width: calc(100% / 3);}
input{width: 70%;border-radius: 20px; border: none;background-color: rgba(255, 255, 255, 0.2);padding: 5px;padding-left: 10px;color: #fff;}
input:focus{outline: none;}
.picture:nth-child(1){border-radius: 20px 0 0 20px;}
.picture:nth-child(3){border-radius: 0 20px 20px 0;}
.picture.active{border:2px solid #fff}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.pizza {
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 10px;
    margin:5%;
    border-radius: 20px;
    background-color: rgb(255, 255, 255, 0.2);
    -webkit-box-shadow: 0px 10px 25px -6px rgba(0,0,0,0.5); 
box-shadow: 0px 10px 25px -6px rgba(0,0,0,0.5)
}
.head{
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 10px;
    margin: 0;
    border-radius: 0 0 20px 20px;
}
.pizza img {
    width: 100%;
    border-radius: 20px 20px 0 0;
}
.pizza .peppers {
    margin-left:10px ;
    padding: 5px;
    display: flex;
    width: 30px;
}
.pizza p{
    padding: 10px;
}
.delete{
    padding: 10px;
    border-radius:20px;
    border: none;
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
    text-transform: uppercase;
}
.delete:focus{
    outline: none;

}

.header{
    padding: 20px;
    display: flex;
    flex-direction: column;
    
}
.header select{
   background-color: rgba(255, 255, 255, 0.2);
   border-radius: 20px 20px 0 0;
   padding: 10px;
   color: #fff;
}
.header select:focus{
    outline: none;
}
select{border: none;}
select option{
    background-color: rgba(46,76,112,1);
}
.header button{
    color: #fff;
    text-transform: uppercase;
    padding: 5px;
    border-radius: 0 0 20px 20px;
    border: none;
}

@media(max-width: 800px){
    #add-pizza-form{height: 400px;}
}
button{
    background-color:  rgba(255, 255, 255, 0.2);
}

button:hover,input:hover,select:hover{
    cursor: pointer;
    background-color:  rgba(255, 255, 255, 0.3) ;
}

button:focus, #add-pizza-btn:focus{transform: scale(0.99);}
.picture:hover{
    cursor: pointer;
}

.msg{
    padding: 10px;
    width: 100%;
    border-radius: 20px 20px 0 0;
}
.msg.err{
    background-color: rgba(255, 0, 0, 0.3);
}
.msg.win{
    background-color: rgba(0, 255, 0, 0.501);
}